<div class="card text-center">
  <div class="card-header">
    Привет, <%= @user.first_name + ' ' + @user.last_name %>
    <%= link_to 'Выйти', logout_path, class: "btn btn-primary my-2 my-sm-0 text-right", role: "button"%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Список друзей</h5>
    <p class="card-text">
      <table class="table">
        <% if @friends.empty? %>
          <tr>
            <td>Друзей нет...</td>
          </tr>
        <% else %>
          <% @friends.each do |friend| %>
            <tr>
              <td>
                <%= link_to image_tag(friend.photo), "http://vk.com/#{friend.screen_name}", target: '_blank' %>
              </td>
              
              <td class="wide">
                <i class="icon-user"></i>
                <%= link_to "#{friend.first_name} #{friend.last_name}", "http://vk.com/#{friend.screen_name}", target: '_blank' %><br />
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>

    </p>
    <%= link_to 'Обновить', @vk_path, class: "btn btn-primary", role: "button" %>
    </div>
</div>
